/*---------------------------------------------------------------------------------------------------------------------------------- */
/*SETUP BASICO*/
/*---------------------------------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  
  .clearfix {zoom:1}
  .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
  
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  /*COMPONENTES REUSABLES*/
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  
  .row {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  section {
    padding: 80px 0;
  }
  
  .box {
    padding: 1%;
  }
  
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  /*HEADER*/
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  
  header{
    background-image: linear-gradient(to right, green, white, red);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*---------------------------------------------------------------------------------------------------------------------------------- */
/*NAVEGACION*/
/*---------------------------------------------------------------------------------------------------------------------------------- */

.main-nav{
    width: 100%;
    background-color: black;
    display: flex;
    float: right;
    list-style: none;
  }
  
  .main-nav li{
    display: inline-block;
    margin-left: 40px;
  
  }
  
  .main-nav li a:link,
  .main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    transition: color 0.2s;
  }
  
  .main-nav li a:hover,
  .main-nav li a:active{
    color: #ff1616;
  }
  
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  /*NAVEGACION "STICKY"*/
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.96);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
  }
  
  .sticky .main-nav{margin-top: 18px;}
  
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #000;  
  }
  
  .sticky .main-nav li a:hover,
  .sticky .main-nav li a:active{
    color: #ff1616;
  }
  
  .sticky .logo{
    cursor: grab;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
  }
  
  .sticky .logo-color{display: none;}
  .sticky .logo{display: block;}
  
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  /*NAVEGACION MOVIL*/
  /*---------------------------------------------------------------------------------------------------------------------------------- */
  
  .mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
  }
  
  .mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
  }

  /*---------------------------------------------------------------------------------------------------------------------------------- */
  /*FLIPCARD*/
  /*---------------------------------------------------------------------------------------------------------------------------------- */

  .grupo-boxeadores{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
  }

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 330px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .foto-boxeador{
    width: 290px;
    height: 290px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #000, rgb(105, 14, 14));
    width: 100%;
    height: 100%;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #000;
    color: white;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
  }
  .flip-card-back h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 20%;
    width: 100%;
    color: yellow;
    border-bottom: solid 1px yellow;
    text-transform: uppercase;
  }

  .flip-card-back .card-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 55%;
    width: 100%;
  }

  .flip-card-back .card-texto p{
    margin-bottom: 0;
    display: block;
  }

  .flip-card-back .btn-boxeador{
    height: 25%;
    width: 100%;
    color: white;
    font-size: 120%;
    font-weight: 400;
    background-color: #44bd32;
    border: solid 1px #000;
    cursor: pointer;
    transition: 0.4s;

  }
  .flip-card-back .btn-boxeador:hover,
  .flip-card-back .btn-boxeador:active{
    background-color: #EA2027;
  }