/*---------------------------------------------------------------------------------------------------------------------------------- */
/*SETUP BASICO*/
/*---------------------------------------------------------------------------------------------------------------------------------- */
  html,
  body 
  {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
  }

  header
  {
    background-image: linear-gradient(to right, green, white, red);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }