<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/estilo-jueces-inicio.css">
    <!--Personalizar queries
    <link rel="stylesheet" type="text/css" href="resources/css/queries.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sofia&display=swap" rel="stylesheet">
    <title>Iniciar sesión</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../resources/favicons/site.webmanifest">
    <link rel="shortcut icon" href="../../resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <header>
      <nav>
        <h1>Peleas Programadas</h1>  
        <a href="" class="btn btn-primary btn-cerrar-sesion">Cerrar sesion</a>
      </nav>     
    </header>
    <section>
        <div class="clearfix row control">
            <select name="categoria" id="categoria">
                <option value="categoria-varonil">Categoria varonil</option>
                <option value="">otra</option>
                <option value="">otro</option>
                <option value="">otrx</option>
              </select>
              <select name="peso" id="peso">
                <option value="peso-welter">Peso welter</option>
                <option value="">otra</option>
                <option value="">otro</option>
                <option value="">otrx</option>
              </select>
              <input type="date" id="fecha" name="fecha">
        </div>
    </section>
    <section class="peleas">
        <div class="card col span-1-of-4" style="width: 18rem;">
            <img src="../../resources/Golovkin-Canelo_fight_poster.jpg" class="card-img-top" alt="poster de pelea">
            <div class="card-body">
              <h5 class="card-title">Canelo vs laputaquetepario</h5>
              <p class="card-text">Hora: 4:20 Fecha: 12/12/2020 Falta: un chingo .</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card col span-1-of-4" style="width: 18rem;">
            <img src="../../resources/Golovkin-Canelo_fight_poster.jpg" class="card-img-top" alt="poster de pelea">
            <div class="card-body">
              <h5 class="card-title">Canelo vs laputaquetepario</h5>
              <p class="card-text">Hora: 4:20 Fecha: 12/12/2020 Falta: un chingo .</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card col span-1-of-4" style="width: 18rem;">
            <img src="../../resources/Golovkin-Canelo_fight_poster.jpg" class="card-img-top" alt="poster de pelea">
            <div class="card-body">
              <h5 class="card-title">Canelo vs laputaquetepario</h5>
              <p class="card-text">Hora: 4:20 Fecha: 12/12/2020 Falta: un chingo .</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card col span-1-of-4" style="width: 18rem;">
            <img src="../../resources/Golovkin-Canelo_fight_poster.jpg" class="card-img-top" alt="poster de pelea">
            <div class="card-body">
              <h5 class="card-title">Canelo vs laputaquetepario</h5>
              <p class="card-text">Hora: 4:20 Fecha: 12/12/2020 Falta: un chingo .</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>
    </section>
  </body>
</html>